# Files
main*.py
test.py
*.zip
test*.*

# Folders
references/
imgs/
dist/

# Any file/folder that starts with 'private'
private*

# Any file/folder that starts with a period
.*

# Every '__pycache__' folder
**/__pycache__

# Any folder that ends with 'egg-info'
**/*.egg-info